@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gerenciador de Debitos</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container mt-10">
        <div class="row centerLogin">
            <div class="col-md-6 fadein">
                <div class="panel panel-login panel-header">SISTEMA DE GERENCIAMENTO DE DEBITOS</div>
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Registrar</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" onsubmit="return false;" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="E-mail" value="" required>
                                        <small id="obrigatorioEmailLogin" class="d-none"></small>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="senha" id="senha" tabindex="2" class="form-control" placeholder="Senha" required>
                                        <small id="obrigatorioSenhaLogin" class="d-none"><b class="text-danger">*</b> Por favor digite sua senha.</small>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div id="logando" name="logando" class="text-center"></div>
                                                <button type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" onclick="_login.efetuarLogin()"><i class="fas fa-sign-in-alt"></i> Log in</button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </form>
                                <form id="register-form" onsubmit="return false;" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="nomeRegister" id="nomeRegister" tabindex="1" class="form-control" placeholder="Nome" value="">
                                        <small id="obrigatorioNomeRegister" class="d-none"><b class="text-danger">*</b> Por favor digite o nome</small>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="emailRegister" id="emailRegister" tabindex="1" class="form-control" placeholder="Email" value="">
                                        <small id="obrigatorioEmailRegister" class="d-none"></small>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="senhaRegister" id="senhaRegister" tabindex="2" class="form-control" placeholder="Senha">
                                        <small id="obrigatorioSenhaRegister" class="d-none"><b class="text-danger">*</b> Por favor digite a senha</small>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirmar-senhaRegister" id="confirmar-senhaRegister" tabindex="2" class="form-control" placeholder="Confirmar Senha">
                                        <small id="obrigatorioSenhaConfirma" class="d-none"><b class="text-danger">*</b> Por favor confirme sua senha.</small>
                                        <small id="senhasNaoCorrespondem" class="d-none"><b class="text-danger">*</b> Senhas nao correspondem</small>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div id="registrando" name="registrando" class="text-center"></div>
                                                <button type="button" name="register-submit" id="register-submit" tabindex="4" onclick="_login.efetuarRegistro()" class="form-control btn btn-register"><i class="fas fa-user-plus"></i> Registrar-se</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="~/lib/fontawesome/dist/js/all.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/lib/sweetalert2/dist/js/sweetalert2.min.js"></script>
</body>
</html>