a:hover{
    text-decoration: none;
}

.modal-dialog{
    margin-top: 15%;
}

.ui-theme-settings .btn-open-options {
    border-radius: 50px;
    position: absolute;
    left: -114px;
    bottom: 19px;
    padding: 0;
    height: 54px;
    line-height: 54px;
    width: 54px;
    text-align: center;
    display: block;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    margin-top: -27px;
}

.bg-cor-tema{
    background: floralwhite !important;
}